@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


*{
    margin: 0;
    padding: 0;
}
header{
    background: rgb(231, 112, 112);
    font-family: 'Lato', sans-serif;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 180px;
    padding: 0px 30px;
}
nav ul{
    height: 58px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
  
    list-style: none;
    padding: 0 3vh;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bold;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 23vw;
    height: 32px;
    border-radius: 2px;
    margin:0px 6px 0px 27px;
    padding: 0px 12px;
}
button.btn:hover{
    font-weight: 900;
}

.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.container{
    min-height:calc(100vh - 58px - 12vh);
}

footer{
    height: 12vh;
    background-color:rgb(231, 112, 112);
    color: white;
    font-family: 'Lato', sans-serif;
} 

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}

img {vertical-align: middle;}

.slideshow-container {
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


